/* CSS Document */

*{ margin:0px; padding:0px; color:#333333; font-size:12px}
.body{
margin:0px auto;
}
#id_all{
width:900px;

margin:0px auto;
padding:0px;
}
#id_top{
width:900px;
height:135px;
margin:0px;
padding:0px;
float:left;
background:url(../image/bg-top1.jpg);
}
/*--Phan top*/
#id_top_dangky{
width:160px;
height:30px;
margin:3px;
padding:0px;
float:right;
font:tahoma;
color:#FFFFFF;
	
}
#id_top_dangky a:link{color:#FFFFFF; font-size:12px; text-decoration:none; }
#id_top_dangky a:visited{color:#FFFFFF; font-size:12px; text-decoration:none;}
#id_top_dangky a:hover{color:#FF0000; font-size:12px; text-decoration:none; }
#id_top_menu{
width:37px;
margin:0px;
padding:0px;
float:left;
margin:98px 0px 0px 0px;
}
#id_top_menu ul{
width:800px;
height:37px;
padding:0px;
float:left; margin:0px 0px 0px 3px;
list-style:none;
color:#FFFFFF;
font-size:12px;
font-family:tahoma; text-align:center;
}
#id_top_menu ul li{
float:left;
}
#id_top_menu ul li a:link{ color:#FFFFFF; text-decoration:none;width:160px; height:27px; padding-top:10px; margin:0px; float:left; display:block;}
#id_top_menu ul li a:visited{ color:#FFFFFF; text-decoration:none;width:130px; height:27px; padding-top:10px; margin:0px; float:left; display:block;}
#id_top_menu ul li a:hover{color:#333333; text-decoration:none; background:url(../img/hover.jpg)}
/*Phan center*/

#id_cen{
width:900px;

margin:0px;
padding:0px;
float:left;
background:#66CC99;
}
#id_cen_all{
width:880px;

margin:10px;
background:#FFFFFF;
float:left;
}
#id_cen_left{
width:630px;
margin:0px;
padding:0px;
float:left;
}
#id_cen_left_top{
width:630px;
height:280px;
margin:0px;
padding:0px;
float:left;
background:url(../img/slide.jpg);
}
#id_cen_left_fot{
width:630px;
height:80px;
margin:0px;
padding:0px;
float:left;
}
#id_cen_left_fot_tieude{
width:500px;
height:20px;
float:left;
margin:4px; 
color:#000000;
font-size:14px;
text-indent:12px;
border-bottom-color:#333333;
border-bottom-style:solid;
border-bottom-width:2px;
}
#id_cen_left_fot_tin{
width:600px;
color:#000000;
font-size:12px;
text-indent:12px;
float:left
}
#id_cen_right{
width:240px;
margin-left:5px;
padding:0px;
float:left;

}
/*Phan right*/
#id_cen_right_top{
width:240px;
height:30px;
margin:0px;
padding:0px;
float:left;
background:#007db7;
}
#id_cen_right_fot{
width:238px;
margin:3px 0pc 5px 0px;
padding:0px;
float:left;
border-left-color:#333333;
border-left-style:solid;
border-left-width:1px;
border-right-color:#333333;
border-right-style:solid;
border-right-width:1px;
border-bottom-color:#333333;
border-bottom-style:solid;
border-bottom-width:1px;
}
#id_cen_right_fot a:link{ color:#000000; text-decoration:none;}
#id_cen_right_fot a:visited{ color:#000000; text-decoration:none;}
#id_cen_right_fot a:hover{ color:#FF0000; text-decoration:none;}
#id_cen_thongtin{
width:880px;
margin:10px;
padding:0px;
float:left
}
#id_cen_thongtin_top{
width:880px;
height:30px;
padding:0px;
background:url(../img/nhataitro.jpg);
}
#id_cen_thongtin_tin{
width:878px;
height:170px;
float:left;
margin:0px 0px 5px 0px;
border-left-color:#333333;
border-left-style:solid;
border-left-width:1px;
border-right-color:#333333;
border-right-style:solid;
border-right-width:1px;
border-bottom-color:#333333;
border-bottom-style:solid;
border-bottom-width:1px;

}
#id_cen_thongtin_bang{
width:140px;
height:120px;
margin:13px;
padding:0px;
float:left;
border-left-color:#333333;
border-left-style:solid;
border-left-width:1px;
border-right-color:#333333;
border-right-style:solid;
border-right-width:1px;
border-bottom-color:#333333;
border-bottom-style:solid;
border-bottom-width:1px;
border-top-color:#333333;
border-top-style:solid;
border-top-width:1px;
text-align:center;
}
#id_cen_thongtin_bang a:link{ color:#000000; text-decoration:none;}
#id_cen_thongtin_bang a:visited{ color:#000000; text-decoration:none;}
#id_cen_thongtin_bang a:hover{ color:#FF0000; text-decoration:none;}
#id_fot{
width:900px;
height:70px;
margin:0px;
padding:0px;
float:left;
background:url(../image/footer.jpg);
}