@charset "utf-8";
/* CSS Document */
body{
font:12px verdana;
}
.pro{
border:1px solid #999999;
margin:5px;
padding:5px;
width:400px;
}
a{
color:#666666;
text-decoration:none;
font-weight:900;
}
#cart{
border:1px solid #999999;
margin:5px;
padding:5px;
width:350px;
text-align:center;
}

