@charset "utf-8";
/* CSS Document */
body
{
	/*background:url(../image/bg_body2.jpg);*/
	background-color:#FFF;
	widows:1000px;
	height:auto;
	
}
#container
{	
	margin:auto;
	height:auto;
	width:900px;
	background-color:#FFF;
}
#banner
{
	background:url(../image/Banner.jpg);
	height:150px;
	width:900px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;/*bo tròn góc trên trái*/
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;/*bo tròn góc trên phải*/
}
#main
{
	
	height:auto;
	width:900px;
}

#left_menu
{
	height:auto;
	width:196px;
	float:left;

	
}
#hangmaytinh,#count_user,#container_hotroonlie1,#maytinhbanchay
{
	margin-top:20px;
	height:auto;
	width:191px;
	border:1px solid #F00;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#title
{
	background:#D33615;
	text-align:center;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;/*bo tròn góc trên trái*/
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;/*bo tròn góc trên phải*/
	font-family:Tahoma, Geneva, sans-serif;
	font-size:19px;
	margin-bottom:10px;
	margin-top:0px;
	color:#FFF;
}
#hotro_online
{
	margin-left:20px;
	margin-bottom:20px;
}
#icom_nho
{
	margin-bottom:1px;
	margin-right:10px;
}
#danhsach
{
	color:#DB4C3A;
	margin-top:5px; 
	margin-left:30px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;	
}
#danhsach a
{
	color:#DB4C3A;
	text-decoration:none;
}
#danhsach a:hover
{
	color:#F00;
	
}
#maybanchay
{
	margin-left:20px;
	margin-right:10px;
	
}
.danhsach_MBC a
{
	font-size:14px;
	color:#00F;
	text-decoration:none;
}
.danhsach_MBC a:hover
{color:#F00;}
#duongke
{
	color:#FAB4A5;
	text-align:center;
}
#contend_lienhe
{	float:left;
	height:auto;
	width:698px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	 border:1px solid #D33615;
	 margin-top:20px;
	 margin-left:2px;
	 margin-right:1px;
	 color:#00F;
	 background-color:#FFF;
	
}
#contend
{	float:left;
	height:auto;
	width:698px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	 border:1px solid #D33615;
	 margin-top:20px;
	 margin-left:2px;
	 margin-right:1px;
	
}
#contend2
{	float:left;
	height:auto;
	width:698px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	 border:1px solid #D33615;
	 margin-top:20px;
	 margin-left:2px;
	 margin-right:1px;
	
}
#gachchan
{
	color:#F00;
	font-size:24px;
}
#style_bang
{
	text-align:center;
	width:690px;
	height:auto;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:3px;
	margin-right:3px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#style_bang2
{
	text-align:center;
	width:680px;
	height:auto;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:3px;
	margin-right:3px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#style_bang_nho
{
	border:1px solid #D33615;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:250px;
}
#detail_sp
{
	width:680px;
	height:auto;
	border:0px solid #00F;
	margin-left:auto;
	margin-right:auto;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#00F;
	text-align:inherit;
}
#tenmay_tq,#title_gt_hang, a
{
	color:#00F;
	text-decoration:none;
}
#tenmay_tq,#title_gt_hang, a:hover
{
	color:#F00;
}
.tenmay
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:19px;
	color:#00F;
	text-align:inherit;
}
.thongso
{
	text-align:center;
	color:#F00;
	font-size:20px;
	
	font-family:Tahoma, Geneva, sans-serif;
}
.dongia,.trongluong,.baohanh
{
	color:#F00;}
.cauhinh
{
	text-align:justify;
}
#image
{
	height:auto;
	width:296px;
	border:1px;
}
#footer
{
	height:80px;
	width:900px;
	background:#CCC;
	text-align:center;
}

#span
{
	height:48px;
	font-size:16px;
	margin-top:10px;
}

#clear
{
	clear:both;
}
#menu 
{
	float:left;
	width:100%;
	height:33px;
	margin-top:117px;
	font-size:93%;
	line-height:normal;
	border-bottom:2px solid #00F;
	
}
#menu ul {
	margin-bottom:0px;
	margin:auto;
	padding:0px 0px 0px 200px;
	list-style:none;
	}
#menu li {
	display:inline;
	margin:0;
	padding:0 2px 0 2px;
	}
#menu a {
	float:left;
	background:url("../image/tableftF.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#menu a span {
	float:left;
	display:block;
	background:url("../image/tabrightF.gif") no-repeat right top;
	padding:10px 20px 4px 10px;
	color:#666;
	}
	
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu a span {float:none;}
/* End IE5-Mac hack */
#menu a:hover span {color:#FFFFFF;}
#menu a:hover {background-position:0% -42px;}
#menu a:visited {background-position:0% -42px;}
#menu a:hover span {background-position:100% -42px;}


#admin_add_sp
{
	width:676px;
	height:auto;
	margin-bottom:30px;
	margin-top:50px;
	margin-left:10px;
	margin-right:10px;
}
#title_gt_hang
{	padding-top:20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:#00F;
	padding-left:10px;
	padding-right:10px;
}
#font_gt
{
	font-family:Tahoma, Geneva, sans-serif;
	color:#000;
	font-size:14px;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	text-align:justify;
}
#center
{
	color:#0F0;
}
#form_timkiem

{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	margin-top:20px;
	border:1px solid #F00;
	margin-left:5px;
	margin-right:5px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
text-align:center;
	
}
#kq
{
	margin-bottom:20px;
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
	border: 1px solid #F00;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
}
#kqtk_font
{
	color:#00F;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
}
.title
{
	color:#00F;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	padding-top:20px;
}
#thongke_theothang
{
	margin-top:20px;
	margin-right:10px;
	margin-left:10px;
	margin-right:10px;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	padding:10px;
	border:1px solid #00F;
}
#thongke_luachon
{
	margin-top:20px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:10px;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	padding:10px;
	border:1px solid #00F;
}
#tuden
{
	border:1px solid #F00;
}
.mau
{
	background-color:#ffcc99;
	text-align:center;
}
.mau2
{
	background-color:#9CF;
	text-align:center;
}